* {
  box-sizing: border-box;
}

body {
  background-color: peachpuff;
}

#title {
  width: 100%;
  height: 100px;
  background-image: url('https://cdn.pixabay.com/photo/2021/07/30/04/17/orange-6508617__340.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 46px;
  font-style: italic;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

li {
  width: 250px;
  height: 300px;
  background-color: whitesmoke;
  padding: 15px;
  cursor: pointer;
}

.meal-img {
  width: 100%;
  height: 85%;
  background-color: red;
}

a {
  width: 100%;
  height: 100%;
  font-size: 22px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}

span {
  margin-top: 10px;
}